<h1>Pagina two ,insertando imagen</h1>
<p>actualmente estoy en rails 6 , el comando para obtener las rutas se cambia de rake routes por rails routes</p>
<%= image_tag 'rake_routes.png', class:'print console', id: 'main-bg',alt:'print comand rails routes' %>

